@media (max-width: 991px){
    header {
        padding: 40px;
    }
    section {
        padding: 150px 40px;
    }
    .sci {
        left: 40px;
    }
    .content {
        flex-direction: column;
    }
    .content .text-box,
    .content .img-box {
        max-width: 100%;
    }
    .swiper-slide {
        height: 300px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #e51e2a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    header .navigation li a {
        margin: 10px 0px;
        font-size: 1.5em;
        font-weight: 300;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(/assets/img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }
    .toggle.active {
        position: fixed;
        right: 40px;
        background: url(/assets/img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
}